pkgbase = calccu
	pkgdesc = Terminal calculator with variables, functions, units, and equation solving
	pkgver = 0.2.0
	pkgrel = 2
	url = https://github.com/thejeme/calccu
	arch = any
	license = MIT
	makedepends = git
	depends = nodejs>=18
	source = calccu-0.2.0::git+https://github.com/thejeme/calccu.git#commit=fac5bc5cd852e1f9e1efac3da179634ee9ddd9a7
	sha256sums = SKIP

pkgname = calccu
